maven/jars
maven/run.bat

# eclipse
mod/bin
mod/*.launch
mod/.settings
mod/.metadata
mod/.classpath
mod/.project

# idea
mod/out
mod/*.ipr
mod/*.iws
mod/*.iml
mod/.idea

# gradle
mod/build
mod/.gradle

# other
mod/eclipse
mod/run
mod/.vscode
mod/logs
.vscode